*{box-sizing: border-box;}
.main-section{
    margin:0 auto;
}
h3{
    background-color: #166f7a;
    color:white;
    max-width: 500px; 
    text-align: center;
    margin:0 auto 2px auto;
}
.calendar{
    border:1px solid red;
    max-width: 600px;
    min-width: 600px;
    margin:0 auto;
    display:grid;
    grid-template-columns: repeat(7,1fr);
    background:#0b5353;/*linear-gradient(rgb(21, 35, 226), rgba(243, 182, 182, 0.609));*/
    color:white;
    font-weight: bold;
    justify-items: stretch;
}
p{color: rgb(0, 204, 255);
margin:0 5px 0 0;
}
p.red{color:rgb(230, 59, 59);}
.num, .days{
    margin-top:10px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.num{border:1px solid white;
     margin:2px 2px;
     border-radius: 5px;
     background:linear-gradient(rgb(33, 29, 61), rgb(50, 51, 49));
}
.faint{
    opacity:0.3;
}
.navigation{
    max-width:400px;
    margin:10px auto;
    display:flex;
    justify-content: center;
}
a{
    text-decoration: none;
    font-style: normal;
    font-size: 20px;
    background:rgb(89, 129, 124);
    padding:3px;
    margin:2px 5px;
    color:#fff;
    border-radius: 4px;
}
.arrow-back, .home, .arrow-forward{
    box-shadow: 3px 3px 3px 1px gray;
    border-radius: 4px;
    margin:4px;
}

footer{
    background:rgb(17, 29, 54);
    max-width: 500px;
    margin:0 auto;
    display:flex;
    flex-direction: column;
    align-items: center;
}
footer a {
    border-radius:0;
    background-color: inherit;
}
.phone, .whatsapp, .facebook, .copyright{
    margin:3px auto;
    font-size:20px;
}
.whatsapp{color:rgb(4, 109, 4)}
.facebook{color:rgb(51, 15, 214)}
@media (max-width:490px) {
    p,i,a{font-size: 8px;}
    i,a{font-size: 15px;}
    
}