body{font-family: Verdana, Geneva, Tahoma, sans-serif;}
.month a{color:white;
  text-decoration: none;
  width:100%;
  height:100%;
  text-align:center;
      display:flex;
    justify-content: center;
    align-items: center; 
    font-weight: bold;
    letter-spacing: 2px;
}

.main-container{
    max-width:240px;
    border-radius: 5px;
    min-height: 100vh;
    margin:0 auto;
    box-shadow: 3px 3px 3px 4px gray;
    display:flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

}
.month{
    width:200px;
    height:40px;
    margin:5px 0;
    border-radius: 20px;

}
.jan, .mar, .may, .jul, .sep, .nov{background-color: #64a364;}
.feb, .apr, .jun, .aug, .oct, .dec{background-color: #0b5353;}
h3{text-shadow:1.5px 1.5px gray;
    text-align: center;
}